.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;

}
.todo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}


.list {
  width: fit-content;
  display: flex;
  gap: 10px;
  flex-direction: column;

}

.tache {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: space-between;
  border: 1px solid rgb(25, 25, 92);
  padding: 5px;
  border-radius: 5px;
  color: blue;
}

.tache h4{
  margin: 0;
  padding: 0;
}

.barre {
  text-decoration: line-through;
}

.tache button {
  padding: 5px;
  font-size: 20px;
  margin-left: 5px;
  color: white;
  background-color: rgb(3, 3, 56);
  border: none;
}

.add {
  display: flex;
  gap: 10px;
}

.add input {
  flex-grow: 1;
  padding: 5px;
  font-size: 20px;
  outline-color: darkblue;

}

.add button {
  padding: 5px;
  font-size: 20px;
  margin-left: 5px;
  color: white;
  background-color: rgb(3, 3, 56);
  border: none;
}

.operations {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.operations button {
  flex-grow: 1;
  padding: 5px;
  font-size: 20px;
  margin-left: 5px;
  color: white;
  background-color: rgb(3, 3, 56);
  border: none;
}